.container {
  width: 110%;
  display: flex;
  justify-content: space-around;
  background: #122e3f;
  flex-wrap: wrap;
  padding: 30px;
  color: aliceblue;
}

.container .card {
  position: relative;
  max-width: 350px;
  height: 300px;
  background-color: rgb(218, 170, 107);
  margin: 30px 0;
  padding:50px 0;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 400px;
}

.container .card .imgBx {
  position: relative;
  max-width: 350px;
  height: 20px;
  top: -60px;
  right: 20px;

  z-index: 1;
}

.imgBx img {
  border-top:5px solid black;
  max-width: 350px;
  height: 320px;
  border-radius: 5px;
  mask-image: linear-gradient(to top, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0)  );

  
  
}

.content {
  position: relative;

  padding: 20px 15px;
  top: 230px;
  text-align: center;
  background-color: rgba(33, 40, 71, 0.548);
  color: aliceblue;
  visibility: hidden;
  opacity: 0;

  transition: 0, 5s ease-in-out;
}
.content .link {
  font-weight: bold;
  color: rgb(212, 152, 62);
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
  transition-delay: 0.2s;
}

/*
Arka Planları Gradient Yap
*/