.navbar{
    
    margin:0 auto;
    padding:0;

}
.navbar .navbar_list {
   
    display:flex;
    justify-content:center;
}
.navbar .navbar_list .navbar_item{
    border:2px solid rgb(38, 0, 255);
    text-decoration: none;
    list-style-type: none;
    background-color: rgba(127, 255, 212, 0.63);
    margin: 2rem 2rem 2rem 2rem;
    flex-direction: row;
    flex-wrap: nowrap;

    
}
.navbar .navbar_list .navbar_item a{
    display: block;
    padding:1rem;
    font-size: 36px;

}