.wrapper {
    display: block;
    background-color: #f4a734;
    padding-top: 2px;
  }
  .mainLayout{
    font-variant-ligatures: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    text-decoration-skip-ink: auto;
}